@import 'variables';
@import 'reset';
@import 'fonts';

:root {
  --horizontalPadding: #{$horizontal-padding};
  --sectionPaddingTop: #{$section-vertical-padding};
  --sectionPaddingBottom: #{$section-vertical-padding};
  .mini-padding-top {
    --sectionPaddingTop: #{$section-vertical-padding-mini};
  }
  .mini-padding-bottom {
    --sectionPaddingBottom: #{$section-vertical-padding-mini};
  }
  @media screen and (max-width: $breakpoint-ipad-portrait) {
    --horizontalPadding: #{$horizontal-padding-responsive};
    --sectionPaddingTop: #{$section-vertical-padding-responsive};
    --sectionPaddingBottom: #{$section-vertical-padding-responsive};
    .mini-padding-top {
      --sectionPaddingTop: #{$section-vertical-padding-mini-responsive};
    }
    .mini-padding-bottom {
      --sectionPaddingBottom: #{$section-vertical-padding-mini-responsive};
    }
  }
}