// Colors
$black: #1b1a1a;
$gray: #b3b1b9;
$gray-ultralight: #FAFAFB;
$gray-light: #C0C0C8;
$gray-medium: #818090;
$gray-dark: #434159;
$gray-ultradark: #040222;
$blue-ultralight: #F8F9FF;
$white: #FFFFFF;
$blue-2: #aac2e4;
$blue: #4994FB;
$light-blue: #F5F8FF;
// Font families
$font-default: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$horizontal-padding: 64px;
$horizontal-padding-responsive: 32px;

// Sections paddings
$section-vertical-padding: 104px;
$section-vertical-padding-mini: 56px;
$section-vertical-padding-responsive: 64px;
$section-vertical-padding-mini-responsive: 32px;

// Max width
$max-width-wrapper: 1232px;
$max-width-wrapper-small: 1024px;
$max-width-wrapper-mini: 812px;

// Breakpoints
$breakpoint-ipad-landscape: 1100px;
$breakpoint-ipad-portrait: 800px;
$breakpoint-mobile: 600px;
$breakpoint-mobile-mini: 420px;